.benefit-wrapper{

}

.information-block-wrapper{
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}

.information-block{
  width: 384px;
  height: 324px;
  background: #FFFFFF;
  border: 1.5px solid #C2C1C2;
  border-radius: 14.5px;
}

.information-block:hover{
  border: none;
  transition: all 200ms;
  box-shadow: 0px 0px 28.5px #DEDEDE;
}

.benefit-package{
width: 120px;
}

.benefit-description{
  font-size: 23px;
  line-height: 29px;
}

.benefit-comment{
  padding: 10px;
  font-size: 20px;
  line-height: 25px;
}

h2{
  font-size: 50px;
  line-height: 60px;
}

h3{
  font-size: 25.5px;
  line-height: 32px;
}

.flex{
  display: flex;
  align-items: center;
  margin-right: 5px;
}