.header-wrapper{}
.header{
  margin: auto;
  width: 90%;
}
.header-block{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 7px;
}
.header-logo{
  font-family: 'Mulish';
  font-weight: 700;
  font-size: 45.5px;
  line-height: 57px;
  color: var(--light-color);
}
.header-phone{

}

.header-phone-number{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 39px;
  color: var(--light-color);
}

.header-phone-number::before{
  display: block;
  content: "";
  background: url(./../images/phone_header.png) no-repeat;
  background-size: 100% auto;
  width: 21.5px;
  height: 21.5px;
  margin: 0 auto;
}

.header-phone-info{
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  color: var(--light-color);
}
.header-button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 285px;
  height: 67px;
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  color: var(--light-color);
  border: 2.8px solid var(--light-color);
  border-radius: 7px;
}

.header-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
  color: var(--light-color);
}

.header-profile::before{
  display: block;
  content: "";
  background: url(./../images/icon_header.png) no-repeat;
  background-size: 100% auto;
  width: 26px;
  height: 26px;
  margin: 0 auto;
}









.nav-menu{

}
.nav-menu-list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu-item{
  /* display: inline-block; */

  font-family: 'Mulish';
  font-weight: 400;
  font-size: 25.5px;
  line-height: 32px;
  text-align: center;
  color: var(--dark-color);
}
.nav-menu-link{}

