.question-wrapper {
  display: flex;
  /* width: 90%; */
  /* margin: auto; */
}
.question-image-wrapper {
}
.question-image {
  width: 665px;
  height: 690px;
  border-radius: 50%;
  object-fit: cover;
}
.question-interactive-block-wrapper {
  display: flex;
  flex-direction: column;
}
.question-header {
  font-family: "TrajanPro3Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--accent-color);
}
.question-p {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  color: var(--dark-color);
}
.quastion-agreement {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #a3a3a3;
}
.question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 62px;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 7px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  border: none;
}

.question-button:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  transition: all 0.3s;
}
