.question-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 150px;
  margin-bottom: 70px;
  width: 90%;
}
.question-image-wrapper {
}
.question-image {
  width: 665px;
  height: 690px;
  border-radius: 50%;
  object-fit: cover;
}
.question-interactive-block-wrapper {
  display: flex;
  flex-direction: column;
}
.question-header {
  font-family: "TrajanPro3Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
  color: var(--accent-color);
}
.qustion-p-wrapper {
  display: flex;
  margin-top: 25px;
}
.question-p {
  width: 810px;
  height: 80px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 29px;
  color: var(--dark-color);
}
.question-shortcut-window-wrapper {
  position: relative;
}
.question-shortcut-window-bg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background: var(--light-color);
  box-shadow: 0px 6px 43px rgba(0, 0, 0, 0.25);
}
.question-shortcut-window {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  background: var(--accent-color);
}
.question-shortcut-window-icon {
  position: absolute;
  top: 15px;
  left: 25px;
}
.question-shortcut-window-online-user {
  position: absolute;
  top: 65px;
  left: 20px;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  line-height: 14px;
  color: var(--light-color);
}
.quastion-agreement {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #a3a3a3;
}

.question-shortcut-window-input-number,
.question-shortcut-window-input-question {
  width: 950px;
  background: var(--light-color);
  border: 1.5px solid #cccccc;
  box-shadow: 0px 0px 21.5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  color: #c2c2c2;
}
.question-shortcut-window-input-number {
  height: 75px;
  margin-top: 40px;
}
.question-shortcut-window-input-question {
  height: 175px;
  margin-top: 25px;
  margin-bottom: 35px;
}

.question-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 265px;
  height: 62px;
  margin-top: 35px;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 7px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
  border: none;
}

.question-button:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  transition: all 0.3s;
}
