.request-wrapper {
  width: 90%;
  height: 285px;
  margin: 0 auto;
  position: relative;
}
.request-wrapper:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 0, 25% 0, 50% 100%, 0% 100%);
  background: var(--accent-color);
  opacity: 0.6;
}

.request-background {
  width: 100%;
  height: 285px;
  object-fit: cover;
  border-radius: 8px;
}

.request-block {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 450px;
  height: 215px;
  padding-left: 40px;
  padding-top: 30px;
  background-color: var(--light-color);
  border-radius: 12px;
  z-index: 1;
}
.request-header {
  margin-bottom: 15px;
  font-family: "TrajanPro3Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: var(--accent-color);
}
.request-p {
  width: 324px;
  height: 45px;
  margin-bottom: 20px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 18.478px;
  line-height: 23px;
  color: var(--dark-color);
}
.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 345px;
  height: 47px;
  font-family: "Mulish";
  font-style: italic;
  font-weight: 200;
  font-size: 20px;
  line-height: 25px;
  background-color: var(--accent-color);
  color: var(--light-color);
  border-radius: 7px;
  filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.25));
}

.request-button:hover {
  color: var(--accent-color);
  background-color: var(--light-color);
  transition: all 0.3s;
}
