.srcoll-bar-wrapper {
  margin-top: 100px;
}

.scroll-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.scroll-bar-cell{
  position: relative;
  border-radius: 13px;
}

.scroll-bar-cell:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background-image: linear-gradient(180deg, #414141 -15.76%, rgba(65, 65, 65, 0) 115.22%), linear-gradient(359.99deg, #65C466 0.01%, rgba(37, 137, 249, 0) 30.83%);
  opacity: 0.7;
  border-radius: 13px;
}

.scroll-bar-cell-centr {
  position: relative;
}

.scroll-bar-cell-right {
  position: relative;
}

.scroll-bar-image{
  object-fit: cover;
  border-radius: 13px;
  filter: drop-shadow(0px 4.86428px 36.4821px rgba(0, 0, 0, 0.25));
}
.scroll-bar-image-first {
  width: 393px;
  height: 585px;
}

.scroll-bar-image-center {
  width: 437px;
  height: 657px;
}
.scroll-bar-image-last {
  width: 393px;
  height: 585px;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36.5px;
  line-height: 43px;
  color: var(--light-color);
  z-index: 1;
}

h3.left-header {
  position: absolute;
  width: 300px;
  top: 280px;
  left: 15px;
}

h3.center-header {
  position: absolute;
  top: 320px;
  left: 15px;
}

h3.right-header {
  position: absolute;
  top: 280px;
  left: 15px;
}

.scroll-bar-p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 27px;
  color: var(--light-color);
  z-index: 1;
}

.scroll-bar-p-left {
  width: 390px;
  position: absolute;
  top: 390px;
  left: 15px;
}

.scroll-bar-p-center {
  width: 408px;
  position: absolute;
  top: 400px;
  left: 15px;
}

.scroll-bar-p-right {
  width: 365px;
  position: absolute;
  top: 350px;
  left: 15px;
}

.more {
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: var(--light-color);
  z-index: 1;
}

.more-left,
.more-right{
  top: 540px;
  left: 140px;
}

.more-center {
  top: 610px;
  left: 160px;
}

.arrow {
  width: 57px;
  height: 57px;
}
