:root{
  --accent-color: #65C466;
  --light-color: #FFFFFF;
  --dark-color: #414141;
  --footer-color: #243246;
}

.container {
  width: 90%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.overflow{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}
.uppercase{
  text-transform: uppercase;
}
.extra-light{
  font-family: 'Mulish';
  font-style: italic;
  font-weight: 200;
  color: #696969;
}
.medium{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  color: #9D9D9D;
}
.regular{
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  color: var(--dark-color);
}
